/* desktop */

@media only screen and (min-width: 1280px) {
    body {
        margin: 0;
    }
    .f-general-information-description {
        width: 100%;
        height: 480px;
        background-color: #EFEFEF;
    }
    .f-main-information {
        display: flex;
        flex-direction: column;
    }
    .f-participate-user {
        margin-top: 5%;
        margin-left: 7%;
    }
    .f-participate-user-information {
        margin: 0;
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
    }
    .f-general-user-box {
        border-radius: 17.375px;
        background-color: #FFFFFF;
        width: 51%;
        height: 30%;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        margin-top: 3%;
        margin-left: 7%;
    }
    .f-general-user-information {
        width: 90%;
        height: 80%;
    }
    .f-user-feedback {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        margin-left: 5%;
        margin-top: 6%;
    }
    .f-user-description {
        display: flex;
        margin-left: 5%;
    }
    .f-user-name {
        font-weight: 700;
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
    }
    .f-user-about {
        margin-left: 5%;
        margin-top: 4%;
    }
    .f-general-course-information {
        background-color: #9DC9C8;
        height: 768px;
        width: 100%;
    }
    .f-general-usage-rules {
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        margin-top: 5%;
        margin-left: 5%;
    }
    .f-compliance-rules {
        margin-right: 80px;
    }
    .f-statement {
        font-size: 25px;
        width: 294px;
        height: 32px;
        margin-bottom: 15px;
    }
    .f-detailed-explanation {
        font-size: 18px;
        width: 294px;
        height: 70px;
    }
    .f-course-date {
        padding-top: 7%;
        padding-left: 5%;
    }
    .f-price-information {
        padding-left: 5%;
        margin-top: 4%;
    }
    .f-course-start-date {
        font-size: 55px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
    }
    .f-price {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        margin: 0;
    }
    .f-price-value {
        font-family: 'Roboto', sans-serif;
        font-size: 80px;
        margin: 0;
    }
    .f-general-social-information {
        background-color: #000000;
        width: 100%;
        height: 400px;
    }
    .f-end-paragraph {
        width: 230px;
        height: 40px;
    }
    .f-social-footer {
        display: flex;
        justify-content: space-between;
    }
    .f-social-icons {
        margin-top: 30px;
        width: 190px;
        display: flex;
        justify-content: space-between;
    }
    .f-phone-information{
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
    }
    .f-email-account {
        justify-content: space-evenly;
        align-items: center;
    }
    .f-number,
    .f-email,
    .f-end {
        color: #ffffff;
    }
    .f-contact-about {
        width: 15%;
        display: flex;
        padding-top: 4%;
        padding-right: 10%;
    }
    .f-phone-information {
        display: flex;
        margin-right: 0;
        flex-direction: column;
        height: 55%;
    }
    .f-email-account {
        display: flex;
        margin-top: 4%;
        height: 55%;
        flex-direction: column;
        margin-left: 0;
    }
    .f-social-account {
        padding-left: 7%;
        padding-top: 5%;
    }
    .f-number {
        margin: 0;
    }
    .f-about-the-ending {
        padding-left: 7%;
        padding-top: 7%;
    }
    .f-end {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
    .f-email {
        margin-left: 6%;
    }
}


/*tablet*/

@media (max-width: 1279px) and (min-width: 992px) {
    body {
        margin: 0;
    }
    .f-general-information-description {
        width: 100%;
        height: 400px;
        background-color: #EFEFEF;
    }
    .f-main-information {
        display: flex;
        flex-direction: column;
    }
    .f-participate-user {
        margin-top: 4%;
        margin-left: 7%;
    }
    .f-participate-user-information {
        margin: 0;
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
    }
    .f-general-user-box {
        border-radius: 17.375px;
        background-color: #FFFFFF;
        width: 35%;
        height: 1%;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        margin-top: 3%;
        margin-left: 7%;
    }
    .f-user-feedback {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin-left: 5%;
        margin-top: 6%;
    }
    .f-general-user-information {
        width: 91%;
        height: 80%;
    }
    .f-user-description {
        display: flex;
        margin-left: 5%;
    }
    .f-user-name {
        font-weight: 700;
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
    }
    .f-user-about {
        margin-left: 5%;
    }
    .f-general-course-information {
        background-color: #9DC9C8;
        height: 600px;
        width: 100%;
    }
    .f-general-usage-rules {
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        margin-top: 5%;
        margin-left: 5%;
    }
    .f-compliance-rules {
        margin-right: 80px;
    }
    .f-statement {
        font-size: 14px;
        width: 170px;
        height: 19px;
        margin-bottom: 15px;
    }
    .f-detailed-explanation {
        font-size: 10px;
        width: 170px;
        height: 41px;
    }
    .f-course-date {
        padding-top: 7%;
        padding-left: 5%;
    }
    .f-price-information {
        padding-left: 5%;
        margin-top: 4%;
    }
    .f-course-start-date {
        font-size: 32px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
    }
    .f-price {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin: 0;
    }
    .f-price-value {
        font-family: 'Roboto', sans-serif;
        font-size: 46px;
        margin: 0;
    }
    .f-general-social-information {
        background-color: #000000;
        width: 100%;
        height: 366px;
    }
    .f-end-paragraph {
        width: 230px;
        height: 40px;
    }
    .f-social-footer {
        display: flex;
        justify-content: space-between;
    }
    .f-social-icons {
        margin-top: 30px;
        width: 130px;
        display: flex;
        justify-content: space-between;
    }
    .f-phone-information{
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
    }
    .f-email-account {
        justify-content: space-evenly;
        align-items: center;
    }
    .f-user-about {
        margin-top: 8%;
    }
    .f-number,
    .f-email,
    .f-end {
        color: #ffffff;
    }
    .f-contact-about {
        width: 15%;
        display: flex;
        padding-top: 4%;
        padding-right: 10%;
    }
    .f-phone-information {
        display: flex;
        margin-right: 0;
        flex-direction: column;
        height: 55%;
    }
    .f-email-account {
        display: flex;
        margin-top: 4%;
        height: 50%;
        flex-direction: column;
        margin-left: 10px;
    }
    .f-social-account {
        padding-left: 7%;
        padding-top: 5%;
    }
    .f-number {
        margin: 0;
        font-size: 14px;
    }
    .f-email {
        font-size: 14px;
    }
    .f-about-the-ending {
        padding-left: 7%;
        padding-top: 10%;
    }
    .f-end {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }
    .f-sinxron-logo {
        width: 53.59px;
        height: 31.69px;
    }
    .f-instagram,
    .f-facebook,
    .f-social,
    .f-whatsapp {
        width: 15.38px;
        height: 15.38px;
    }
    .f-phone-logo {
        width: 15.64px;
        height: 15.64px;
    }
    .f-mail-logo {
        width: 15.64px;
        height: 10.43px;
    }
}


/*mobile*/

@media (min-width: 320px) and (max-width: 991px) {
    body {
        margin: 0;
    }
    .f-general-information-description {
        width: 100%;
        height: 400px;
        background-color: #EFEFEF;
    }
    .f-main-information {
        display: flex;
        flex-direction: column;
    }
    .f-participate-user {
        margin-top: 5%;
        margin-left: 7%;
    }
    .f-participate-user-information {
        margin: 0;
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
    }
    .f-general-user-box {
        background-color: #FFFFFF;
        width: 84%;
        margin-top: 3%;
        margin-left: 7%;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }
    .f-general-user-information {
        width: 84%;
        height: 80%;
    }
    .f-user-feedback {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        margin-left: 5%;
        margin-top: 6%;
    }
    .f-user-description {
        display: flex;
        margin-left: 5%;
    }
    .f-user-photo {
        width: 80px;
        height: 84px;
    }
    .f-user-name {
        font-weight: 700;
        font-size: 14px;
    }
    .f-facebook-icon {
        width: 14.91px;
        height: 17.2px;
    }
    .f-general-course-information {
        background-color: #9DC9C8;
        height: 423px;
        width: 100%;
    }
    .f-course-date {
        padding-top: 7%;
        padding-left: 5%;
        width: 55%;
    }
    .f-price-information {
        padding-left: 5%;
        margin-top: 8%;
    }
    .f-course-start-date {
        font-size: 26px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
    }
    .f-price {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin: 0;
    }
    .f-price-value {
        font-family: 'Roboto', sans-serif;
        font-size: 37px;
        margin: 0;
    }
    .f-general-usage-rules {
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        margin-top: 5%;
        margin-left: 5%;
    }
    .f-compliance-rules {
        margin-right: 28px;
    }
    .f-statement {
        font-size: 12px;
        width: 132px;
        height: 8px;
        margin-bottom: 15px;
    }
    .f-detailed-explanation {
        font-size: 10px;
        width: 147px;
        height: 70px;
    }
    .f-general-social-information {
        background-color: #000000;
        width: 100%;
        height: 264px;
    }
    .f-instagram {
        width: 15.38px;
        height: 15.38px;
    }
    .f-facebook {
        width: 14.91px;
        height: 14.91px;
    }
    .f-social {
        width: 16.31px;
        height: 16.31px;
    }
    .f-whatsapp {
        width: 15.84px;
        height: 15.84px;
    }
    .f-sinxron-logo {
        width: 53.59px;
        height: 31.69px;
    }
    .f-phone-logo {
        width: 12.58px;
        height: 12.58px;
    }
    .f-mail-logo {
        width: 12.58px;
        height: 8.39px;
    }
    .f-number,
    .f-email,
    .f-end {
        color: #ffffff;
    }
    .f-number,
    .f-email {
        font-size: 12px;
        margin: 0;
    }
    .f-about-the-ending {
        padding-left: 7%;
        padding-top: 1%;
    }
    .f-end {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        margin-top: 12%;
    }
    .f-social-footer {
        display: flex;
        flex-direction: column;
    }
    .f-social-icons {
        margin-top: 20px;
        width: 105px;
        display: flex;
        justify-content: space-between;
    }
    .f-phone-information{
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
    }
    .f-email-account {
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .f-social-account {
        padding-left: 7%;
        padding-top: 5%;
    }
    .f-phone-information {
        display: flex;
        margin-right: 0;
        flex-direction: column;
        height: 55%;
    }
    .f-email-account {
        display: flex;
        height: 55%;
        margin-left: 0;
        flex-direction: column;
        margin-left: -70px;
    }
    .f-contact-about {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43%;
        margin-top: 28px;
        margin-left: -70px;
    }
}
