/*section 1*/
@media (min-width: 1280px) {

    /* Desktop */
    .m-all {
        margin-left: 5%;
        margin-bottom: 10%;

    }

    .m-all h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 55px;
        line-height: 101.38%;
        margin: 50px 0;

    }

    .m-txtname {
        display: flex;
        justify-content: space-between;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        width: 80%;
    }

    .m-txt1 {
        width: 223px;

    }

    .m-txt2 {
        height: 109px;
        width: 271px;
    }

    .m-txt3 {
        height: 109px;
        width: 271px;
    }

    .m-blue {
        color: #1E4681;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 130%;
        margin-bottom: 15px;
    }

    .m-list {
        padding: 20px;
    }

    .m-all2 {
        margin-left: 5%;

    }

    .m-second {
        font-family: 'Roboto Slab', serif;
        font-size: 53px;
        line-height: 101.38%;
        margin: 30px 0;
    }

    ul li {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        width: 662px;
    }
}





@media (min-width: 992px) and (max-width: 1279px) {

    /* Tablet */
    .m-all {
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .m-all h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 50px;
        line-height: 101.38%;
        margin: 40px 0;
    }

    .m-txtname {
        display: flex;
        justify-content: space-between;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        width: 90%;
    }

    .m-txt1 {
        width: 223px;
        margin-right: 30px;
    }

    .m-txt2 {
        width: 271px;
        margin-right: 30px;
    }

    .m-txt3 {
        width: 271px;
    }

    .m-blue {
        color: #1E4681;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 130%;
        margin-bottom: 15px;
    }

    .m-all2 {
        margin-left: 5%;
    }

    .m-second {
        font-family: 'Roboto Slab', serif;
        font-size: 50px;
        line-height: 101.38%;
        margin: 30px 0;
    }

    ul li {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        width: 662px;
    }
}




@media (min-width: 320px) and (max-width: 991px) {

    /* Smartfon */
    .m-all h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 35px;
        line-height: 101.38%;
        margin: 50px 0;
    }

    .m-txtname {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        width: 80%;
    }

    .m-all {
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .m-txt1 {
        margin-right: 30px;
    }

    .m-txt2 {
        height: 109px;
        margin-right: 30px;
    }

    .m-blue {
        color: #1E4681;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
    }

    .m-black {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .m-all2 {
        margin-left: 5%;
    }

    .m-second {
        font-family: 'Roboto Slab', serif;
        font-size: 32px;
        line-height: 101.38%;
        margin: 30px 0;
    }

    ul li {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size:
            14px;
        line-height: 150%;

    }
}

/*finish section 1*/
