/*section 2*/
@media (min-width:1280px) {

    /*desktop*/
    body {
        font-family: 'Roboto', sans-serif;
    }

    .s-main2 h2 {
        display: block;
        font-size: 55px;
        font-weight: 700;
        padding: 0px 6%;
        margin-bottom: 100px;
    }

    .s-rec {
        width: 399px;
        height: 328px;
        background-color: white;
        border-radius: 35px;
        filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
        margin: 15px;
    }

    .s-main2-p1 {
        font-weight: bold;
        font-size: 30px;
    }

    .s-main2-p2 {
        font-size: 25px;
    }

    .s-main2 img {
        width: 399px;
    }

    .s-main2container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 3%;
    }

    .s-rec p {
        margin: 10px;
    }
}

@media (min-width:992px) and (max-width: 1279px) {

    /*tablet*/
    body {
        font-family: 'Roboto', sans-serif;
    }

    .s-main2 h2 {
        display: block;
        font-size: 32px;
        font-weight: 700;
        padding: 0px 6%;
        margin-bottom: 50px;
    }

    .s-rec {
        width: 231px;
        height: 190px;
        background-color: white;
        border-radius: 17px;
        filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
        margin: 15px;
    }

    .s-main2-p1 {
        font-weight: bold;
        font-size: 17px;
    }

    .s-main2-p2 {
        font-size: 14px;
    }

    .s-main2 img {
        width: 231px;
    }

    .s-main2container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 3%;
    }

    .s-rec p {
        margin: 10px;
    }
}

@media (min-width:320px) and (max-width: 991px) {

    /*mobile*/
    body {
        font-family: 'Roboto', sans-serif;
    }

    .s-main2 h2 {
        display: block;
        font-size: 26px;
        font-weight: 700;
        padding: 0px 6%;
        margin-bottom: 30px;
        text-align: center;
    }

    .s-rec {
        width: 186px;
        height: 153px;
        background-color: white;
        border-radius: 17px;
        filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
        margin: 15px;
    }

    .s-main2-p1 {
        font-weight: bold;
        font-size: 14px;
    }

    .s-main2-p2 {
        font-size: 12px;
    }

    .s-main2 img {
        width: 186px;
    }

    .s-main2container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3%;
    }

    .s-rec p {
        margin: 10px;
    }
}

/*finish section 2*/
