/*section 2*/
@media (min-width:1280px) {

    /*desktop*/
    body {
        font-family: 'Roboto', sans-serif;
    }
    section{
        margin: 90px 0;
    }

    .s-main2 h2 {
        display: block;
        font-size: 55px;
        font-weight: 700;
        padding: 0px 6%;
        margin-bottom: 100px;
    }
    .s-rec {
        width: 399px;
        height: 328px;
        background-color: white;
        border-radius: 35px;
        filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
        margin: 15px;
    }

    .s-main2-p1 {
        font-weight: bold;
        font-size: 30px;
        padding-left: 20px;
        padding-top: 5px;
    }

    .s-main2-p2 {
        font-size: 25px;
        padding-left: 20px;
    }
    .pad{
        padding-bottom: 25px;
    }

    .s-main2 img {
        width: 399px;
    }
    .firstcontainerlist{
        display: flex;
        justify-content: center;
    }
    .secondcontainerlist{
        display: flex;
        justify-content: center;
    }
    .thirdcontainerlist{
        display: flex;
        justify-content: center;
        margin-right: 420px;
    }
}

@media (min-width:992px) and (max-width: 1279px) {

    /*tablet*/
    body {
        font-family: 'Roboto', sans-serif;
    }
    section{
        margin: 90px 0;
    }

    .s-main2 h2 {
        display: block;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        padding-right: 60%;
        margin-bottom: 50px;
    }

    .s-rec {
        width: 231px;
        height: 190px;
        background-color: white;
        border-radius: 17px;
        filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
        margin: 15px;
    }

    .s-main2-p1 {
        font-weight: bold;
        font-size: 17px;
        padding-left: 10px;
    }

    .s-main2-p2 {
        font-size: 14px;
        padding-left: 10px;
    }
    .pad{
        padding-bottom: 20px;
    }

    .s-main2 img {
        width: 231px;
    }
    .firstcontainerlist{
        display: flex;
        justify-content: center;
    }
    .secondcontainerlist{
        display: flex;
        justify-content: center;
    }
    .thirdcontainerlist{
        display: flex;
        justify-content: center;
        margin-right: 260px;
    }
}

@media (min-width:320px) and (max-width: 991px) {

    /*mobile*/
    body {
        font-family: 'Roboto', sans-serif;
    }
    section{
        margin: 90px 0;
    }

    .s-main2 h2 {
        display: block;
        font-size: 26px;
        font-weight: 700;
        padding: 0px 6%;
        margin-bottom: 30px;
        text-align: center;
    }

    .s-rec {
        width: 186px;
        height: 153px;
        background-color: white;
        border-radius: 17px;
        filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
        margin: 15px;
    }

    .s-main2-p1 {
        font-weight: bold;
        font-size: 14px;
        padding-left: 10px;
        line-height: 100%;
    }

    .s-main2-p2 {
        font-size: 12px;
        padding-left: 10px;
    }
    .pad{
        padding-bottom: 15px;
    }

    .s-main2 img {
        width: 186px;
    }
    .firstcontainerlist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secondcontainerlist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .thirdcontainerlist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*finish section 2*/
