@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab;
}
.part-1 .logo {
    width: 80%;
    margin: auto;
    padding: 30px 0 50px ;
}
.part-1 .section-2{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    
}
.part-1 .section-2 .icon-and-text .icons{
    display: flex;
}
.margin-icon{
    margin-right: 30px;
}
.margin-text-logo{
    margin-left: 10px;
}
.part-1 .section-2 .icon-and-text .left-box{
    width: 80%;
}
.part-1 .section-2 .icon-and-text .left-box h1{
    font-size: 72px;
}
.part-1 .section-2 .icon-and-text .right-box{
    width: 28%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.part-1 .section-4{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.part-1 .section-4{
    width: 30%;
    display: flex;
    justify-content: left;
    border: 1px solid #1E4681;
    background-color: #1E4681;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 20px;
}
.part-1 .section-4 div .comment{
    text-align: left;
    font-size: 25px;
}
.part-1 .section-4 div .comment-author{
    font-size: 18px;
    text-align: right;
}


.part-2 .section-1{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
  
.part-2 .section-1 h1{
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 15px;
}
  
.part-2 .section-1 .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
  
.part-2 .section-1 .container .left-box{
    width: 50%;
}
  
.part-2 .section-1 .container .left-box p{
    font-size: 20px;
    line-height: 150%;
}
  
.part-2 .section-1 .container .left-box p:first-child{
    margin-bottom: 25px;
}
  
.part-2 .section-1 .container .right-box{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
  

.part-2 .section-2 {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
  
.part-2 .section-2 .container {
    display: flex;
    align-items: center;    
}
  

  
.part-2 .section-2 .container .right-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -500px;
}
  
.part-2 .section-2 .container .right-box .text{
    width: 25%;
}
  
.part-2 .section-2 .container .right-box .text h3{
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}
  
.part-2 .section-2 .container .right-box .text p{
    width: 50%;
    font-size: 12px;
}

.part-2 .section-2 .container .left-box {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
 
@media (max-width: 576px) {
    .section-1 h1 {
      font-size: 35px;
    }
    .section-1 .container .left-box {
      width: 100%;
    }
    .section-1 .container .left-box p {
      font-size: 14px;
    }
    .section-1 .container .right-box {
      width: 90%;
      margin: auto;
    }
    .section-1 .container .right-box .img .img-1 {
      width: 80%;
    }
    .section-2 {
      margin-top: 50px;
    }
    .section-2 .container .left-box {
      display: none;
    }
    .section-2 .container .right-box {
      width: 100%;
    }
    .section-2 .container .right-box .text {
      width: 50%;
      padding: 15px;
    }
    .section-2 .container .right-box .text p {
      width: 100%;
    }
}

@media (max-width: 960px) and (min-width: 576px)  {
    .section-1 h1{
        font-size: 35px;
    }
    .section-1 .container .left-box{
        width: 50%;
    }
    .section-1 .container .left-box p{
        font-size: 14px;
      }
    .section-1 .container .right-box{
        width: 50%;
        margin: auto;
    }
    .section-1 .container .right-box .img .img-1{
        width: 80%;
    }
    .section-2 {
        margin-top: 50px;
    }
    .section-2 .container .left-box{
        display: none;
    }
    .section-2 .container .right-box .text{
        width: 50%;
        padding: 15px;
    }
    .section-2 .container .right-box .text p{
        width: 100%;
    }
} 