.Rectangle5{
    width: 400px;
    height: 330px;
}
.Rectangle7{
    width: 400px;
    height: 330px;
}
.Rectangle9{
    width: 400px;
    height: 330px;
}
.Rectangle13{
    width: 400px;
    height: 330px;
}
.Rectangle14{
    width: 400px;
    height: 330px;
}
.Rectangle15{
    width: 400px;
    height: 330px;
}
.Rectangle19{
    width: 400px;
    height: 330px;
}
