
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab;
}

.kak-smotret-film{
    padding: 2% 5%;

}

.kak-smotret-film .logo {
    margin: 2% 0;
}

.kak-smotret-film .section-2 {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.kak-smotret-film .section-2 .icon-and-text .icons {
    display: flex;
    margin-bottom: 3%;
}

.kak-smotret-film .section-2 .icon-and-text .icons .margin-icon {
    margin-right: 2%;
}

.margin-text-logo {
    margin-left: 10px;
}

.kak-smotret-film .section-2 .icon-and-text{
    width: 50%;
} /**/


.kak-smotret-film .section-2 .icon-and-text .left-box h1 {
    font-size: 72px;
}

.kak-smotret-film .section-2 .right-box {
    width: 50%;

}
.kak-smotret-film .section-2 .right-box .img {
    display: flex;
    justify-content: center;
}
.kak-smotret-film .blue-box {
    margin: auto;
    width: 40%;
    border: 1px solid #1E4681;
    background-color: #1E4681;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 2%;
    margin-top: 10%;


}
.kak-smotret-film .blue-box div .comment {
    text-align: left;
    font-size: 25px;
}
.kak-smotret-film .blue-box div .comment-author {
    font-size: 18px;
    text-align: right;
}
.o-kurse{
    padding: 2% 5%;

}
.o-kurse .section-1 h1 {
    font-weight: bold;
    font-size: 55px;
}
.o-kurse .section-1 .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.o-kurse .section-1 .container .left-box {
    width: 60%;
}
.o-kurse .section-1 .container .left-box p {
    font-size: 20px;
}
.o-kurse .section-1 .container .left-box p:first-child {
    margin-bottom: 25px;
}
.o-kurse .section-1 .container .right-box {
    width: 40%;
}
.o-kurse .section-1 .container .right-box .img{
    display: flex;
    justify-content: flex-end;
}
.o-kurse .section-1 .container .right-box .img .img-1{
    width: 100%;
}
.o-kurse .section-2 .container {
    display: flex;
    align-items: center;
}
.o-kurse .section-2 .container .right-box {
    width:70%;
    display: flex;
    flex-wrap: wrap;
}

.o-kurse .section-2 .container .right-box .text {
    width: 25%;
}

.o-kurse .section-2 .container .right-box .text h3 {
    font-weight: bold;
    font-size: 20px;
}

.o-kurse .section-2 .container .right-box .text p {
    width: 50%;
    font-size: 12px;
}

.o-kurse .section-2 .container .left-box {
    width: 35%;
}

@media (max-width: 1279px) and (min-width: 992px) {
    .kak-smotret-film .section-2 .icon-and-text .left-box h1 {
        font-size: 41px ;
    }
    .kak-smotret-film .section-2 .icon-and-text .left-box p {
        font-size: 12px ;
    }
    .kak-smotret-film .blue-box {
        width: 29%;
        margin: auto;
        margin-top: 10%;
    }
    .kak-smotret-film .blue-box div .comment {
        font-size: 14px;
    }
    
    .kak-smotret-film .blue-box div .comment-author {
        font-size: 12px;
    }
    .o-kurse .section-1 h1 {
        font-size: 32px;
    }
    .o-kurse .section-1 .container .left-box {
        line-height: 150%;
    }
    .o-kurse .section-1 .container .left-box .text p{
        font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    
    .kak-smotret-film .logo img {
        width: 15%;
        height: 15%;
    }

    .kak-smotret-film .section-2 .icon-and-text .left-box h1 {
        font-size: 37px ;
    }
    .kak-smotret-film .section-2 .icon-and-text .left-box p {
        font-size: 10px ;
    }

    .kak-smotret-film .section-2 .icon-and-text .icons img {
        width: 25%;
        height: 25%;
    }
    .kak-smotret-film .section-2 .icon-and-text .icons span {
        font-size: 10px;
    }
    .kak-smotret-film .section-2 .icon-and-text .icons span {
        font-size: 10px;
        margin-left: -5px;
    }

    .kak-smotret-film .section-2 .icon-and-text{
        width: 100%;
        margin-bottom: 5%;
    }

    .kak-smotret-film .section-2 .right-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;   
    }
    .kak-smotret-film .section-2 .right-box .img{
        width: 60%;
            
    }
    .kak-smotret-film .section-2 .right-box .img .img-1{
        width: 100%;
    }
    .kak-smotret-film .blue-box {
        width: 70%;
        margin: initial;
        margin-top: 10%;
    }
    .kak-smotret-film .blue-box div .comment {
        font-size: 11px;
    }
    
    .kak-smotret-film .blue-box div .comment-author {
        font-size: 10px;
    }
    .o-kurse .section-1 h1 {
        font-size: 26px;
    }
    .o-kurse .section-1 .container .left-box {
        width: 100%;
        margin-bottom: 10%;
    }
    .o-kurse .section-1 .container .left-box .text p{
        font-size: 12px;
    }
    .o-kurse .section-1 .container .right-box {
        width: 100%;
        
    }
    .o-kurse .section-1 .container .right-box .img {
        width: 70%;
        margin: auto;
        
    }
    .o-kurse .section-1 h1 {
        margin-bottom: 4%; 
    }
    
    .o-kurse .section-2 .container .left-box {
        display: none;
    }
    .o-kurse .section-2 .container .right-box {
        width: 100%;
        margin-top: 10%;

    }
    .o-kurse .section-2 .container .right-box .text {
        width: 50%;
        margin-bottom: 7%;
    }
}